<div fxLayoutAlign="center center" fxFlexFill >
    <mat-card fxFlex="30" class="login-card">
        <mat-toolbar color="primary">Zaloguj się</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Login">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Haslo">
            </mat-form-field>
            <button mat-raised-button  color="primary" type="submit">Zaloguj</button>
        </form>
    </mat-card>
</div>
<router-outlet></router-outlet>
