<div fxLayoutAlign="center center" fxFlexFill >
    <mat-card fxFlex="30" class="login-card">
        <mat-toolbar color="primary">Zaloguj się</mat-toolbar>
        
        <form (ngSubmit)='onSubmit()' fxLayoutAlign="stretch" fxLayout="column" class="login-form" #userForm="ngForm" >
            {{userForm.value | json}}
            <mat-form-field>
                <input matInput name = "login" required  placeholder="Login" [(ngModel)]="userModel.login" ngModel>
            </mat-form-field>
               
            <mat-form-field>
                <input matInput required name = "password"  type="password" placeholder="Haslo" [(ngModel)]="userModel.password" ngModel>
            </mat-form-field>
            <button mat-raised-button  color="primary" type="submit">Zaloguj</button>
        </form>
    </mat-card>
</div>  
<router-outlet></router-outlet>
